html {
  width: 100%;
  overflow-x:hidden;
}

/*  文字連結 */
@font-face {
  font-family: FakePearl-Regular; src: url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff2) format("woff2")
  , url(https://cdn.jsdelivr.net/gh/max32002/FakePearl@1.1/webfont/FakePearl-Regular.woff) format("woff");
}

/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px）) { 
    #Contact .title .call {
        margin-top: 0px;
        float: initial;
        
    }
    .storiesTopLeft {
        padding-right:0;
        border-right: none;
    }
    .mainStoriesBook #anna img{
        margin-top: 0px;
    }
 }

/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) { 
    #Contact .title .call {
        margin-top: 250px;
        float: right;

    }
    .storiesTopLeft {
        padding-right:0;
        border-right: none;
    }

    #Contact .title .name{
        margin-top: 200px;
    }
 }

 /* 大屏幕（大桌面显示器，大于等于 1200px） */
@media (min-width: 1200px) { 
    #Contact .title .call {
        margin-top: 255px;
        float: right;

    }
    .storiesTopLeft {
        padding-right: 80px;
        position: relative;
        border-right: 1px solid #a68d85;
        margin-bottom: 10px;
    }
 }

/*navbar*/
nav {
  font-family: FakePearl-Regular;
}

.navbar-brand img {
  height: 50px;
}

@media (min-width: 768px) {
/*nav選單*/
.navbar{
  padding-left:50px!important;
  padding-right:50px!important; 
 }
}

.navbar-nav {
  margin-left: 510px;
}

/*封面*/
.top {
  padding-bottom: 80px;
  background-image: 
    linear-gradient(
      to right,
      #FCEBCF 70%,
      #fff 30%
      )
}

#cover {
  position: relative;
  padding: 0px 0px;
  text-align: center;
}

#cover p {
  font-family: FakePearl-Regular;
  font-size: 72px;
  color: #fff;
  position: absolute;
  color: black;
  padding-top: 0px;
  padding-right: 20px;
  margin-top: 100px;
  margin-left: 10px;
  padding-top: 55px;
  padding-left: 140px;
}

.quote:before {
    content: " “ ";
    color: black;
    left: -0.5em;
    top: -0.1em;
    font-size: 160%;
    padding-top: 0px;
 }

.black {
  color: black;
}

.white {
  color: white;
}

#cover img {
  float: right;
  padding-top: 40px;
}

#leftcover {
  position: absolute;
}

/*引文*/
.container {
  margin-left: 300px;
  margin-right: 300px;
}

.topic {
  font-family: FakePearl-Regular;
}

.content {
  margin-left: 53px;
  font-size: 24px;
  font-family: FakePearl-Regular;
}

/*sec0, 1分界*/
.border01 {
  height: 20px;
  width: 45.5%;
  color: #E3C282;
  margin-top: 100px;
  margin-bottom: 80px;
  padding-left: 80px;
}

/*section1*/
.pic1 img {
  margin-left: 90px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.sec1 {
  display: flex;
  margin-left: 90px;
}

.sec1 p {
  font-family: FakePearl-Regular;
  font-size: 36px;
  padding-top: 5px;
  padding-left: 0px;
}

.p1 p {
  font-family: FakePearl-Regular;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  width: 450px;
  height: 229px;
  padding-left: 90px;
  margin-bottom: 0px;
}

/*sec1, 2分界*/
.border12 {
  height: 20px;
  width: 45.5%;
  color: #E3C282;
  margin-top: 100px;
  margin-bottom: 80px;
  padding-left: 80px;
}

/*section2*/
.pic2 img {
  margin-left: 80px;
  margin-bottom: 0px;
}

.sec2 {
  display: flex;
  margin-left: 90px;
}

.sec2 p {
  font-family: FakePearl-Regular;
  font-size: 36px;
  padding-top: 5px;
  padding-left: 0px;
}

.p2 p {
  font-family: FakePearl-Regular;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  width: 450px;
  height: 229px;
  padding-left: 90px;
  margin-bottom: 0px;
}

/*sec2, 3分界*/
.border23 {
  height: 20px;
  width: 45.5%;
  color: #E3C282;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-left: 100px;
}

/*section3*/
.pic3 img {
  margin-left: 90px;
  margin-top: 30px;
}

.sec3 {
  display: flex;
  margin-left: 90px;
}

.sec3 p {
  font-family: FakePearl-Regular;
  font-size: 36px;
  padding-top: 5px;
  padding-left: 0px;
}

.p3 p {
  font-family: FakePearl-Regular;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  width: 450px;
  height: 229px;
  padding-left: 90px;
}
